meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name="description", content=site.description)

meta(property="og:url", content="https://www.fivebyfive.se/")
meta(property="og:type", content="website")
meta(property="og:title", content=page.title)
meta(property="og:description", content=site.description)
meta(property="og:image", content="/images/social-graph.png")
meta(property="twitter:url", content="https://www.fivebyfive.se/")
meta(name="twitter:card", content="/images/social-graph.png")
meta(name="twitter:title", content=page.title)
meta(name="twitter:description", content=site.description)
meta(name="twitter:image", content="/images/social-graph.png")

link(rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-touch-icon.png")
link(rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicon-32x32.png")
link(rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon-16x16.png")

meta(name='application-name', content='Fivebyfive.se')
meta(name='color-scheme', content='dark light')

meta(name='background-color', content=(theme === 'dark' ? '#0d171a' : '#e6e9e4'))
meta(name='theme-color', content='#f26b5b')

link(rel='manifest', href='/meta/manifest.json')

link(rel='stylesheet', href='/css/critical.css')

title= page.title

