extends _layout.pug

mixin item-meta(value, className, icon=null, label=null, isLink=false)
    if value
        p.item__meta(class=className)
            if icon
                i(class=`ri-${icon}-line`)
            if label
                strong= label
            if isLink
                a(href=value, rel='noopener', target='_blank')
                    = value
            else
                = value

mixin item-tags(tags, ...classes)
    if tags && tags.length > 0
        +item-meta(tags.join(', '), ['item__tags', ...classes].join(' '), 'price-tag-3', __('work.tags'))

mixin item-text(tag, item, alias, ...classes)
    - const text = item.getStructuredText(alias)
    if text
        - const className = classes.join(' ')
        - const html = `<${tag} class="${className}">${text.asText()}</${tag}>`;
        != html


mixin case-collection(item)
    - const caseItem = item.item;
    - const subItems = item.sub_items;
    - const tags = caseItem.tags || [];
    .item.item--collection.grid(data-collection-tags=(tags.join('|')))
        .row.collection__header
            +col(4, 0, 10, 1)
                +item-text('h2', caseItem, 'casecollection.title', 'item__title', 'collection__title')
                +item-text('p', caseItem, 'casecollection.description', 'collection__description')
            +col(4, 1, 6, 3)
                +item-tags(tags, 'collection__tags')

        -let i = 1
        for subItem in subItems
            .item__subitem
                .row.subitem__header
                    +col(1,  1, 1, 1)
                        .subitem__number= i++
                    +col(7, 0, 8, 1)
                        h3.subitem__title= subItem.title
                        p.subitem__description= subItem.text
                .row
                    +col(12, 0, 12)
                        +list-items(subItem.items, 'subcollection')(class='row')



mixin case-item(item, numCols)
    - const image = item.getImage('case.image')
    - const detailsImage = (image.getView('details') || image).url.replace(/\?.*$/, '')
    - const dateFmt = Intl.DateTimeFormat(lang,{ year: 'numeric', month: '2-digit', day: '2-digit' })
    - const tags = item.tags || [];

    .item.item--case.col.col--m--12(class=`col--${numCols}`, style=`background-image: url(${image.url})`, data-tags=(tags.join('|')) data-label=__('button.open'), data-show-details=`${item.uid}`, data-background-image=detailsImage, data-close-button=__('button.close'))
        .item__text(data-details-view=`${item.uid}`)
            .item__section.item__section
                - const date = dateFmt.format(item.getDate('case.release_date'))
                +item-meta(date, 'item__release-date', 'calendar')

            .item_section.item__section--title
                +item-text('h4', item, 'case.title', 'item__title')

            .item__section
                +item-meta(item.getStructuredText('case.subtitle').asText(), 'item__category', 'pantone', __('work.type'))
                +item-tags(tags)
                +item-meta(item.getText('case.client_name'), 'item__client-name', 'user-2', __('work.client'))
                if item.getLink('case.link')
                    - const linkUrl = item.getLink('case.link').url(ctx.linkResolver);
                    +item-meta(linkUrl, 'details-view__details', 'external-link', __('work.link'), true)
                +item-meta(detailsImage, 'details-view__details', 'image', __('work.fullimage'), true)

            .item__section.details-view__details
                if (item.getStructuredText('case.description'))
                    p.item__description= item.getStructuredText('case.description').asText()
                if (item.get('case.embed_media'))
                    p.item__embed
                        != item.get('case.embed_media').asHtml()


mixin list-items(items, listType)
    - let i = 0
    div.item-list(class=`item-list--${listType}`)&attributes(attributes)
        for item in items
            case item.type
                when 'casecollection'
                    +case-collection(item)
                when 'case'
                    - const numCols = i++ % 3 == 0 ? '5' : (i % 2 == 0 ? '3' : '4')
                    +case-item(item, numCols)
block content
    .page-header
        .grid
            .row
                +col(8, 0, 10, 1)
                    h1.page-heading(class=`page-heading--${page.uid}`)= page.heading
                +col(4, 0, 10, 1)
                    .page-intro
                        != page.intro

    .page-body
        +list-items(page.items, 'root')

block scripts
    script(src='/js/details-view.js')
    script(src='/js/filter.js')
