extends _layout.pug

mixin item-meta(value, className, icon=null, label=null, isLink=false)
    if value
        p.item__meta(class=className)
            if icon
                i(class=`ri-${icon}-line`)
            if label
                strong= label
            if isLink
                a(href=value, rel='noopener', target='_blank')
                    = value
            else
                = value

mixin item-tags(tags, ...classes)
    if tags && tags.length > 0
        +item-meta(tags.join(','), ['item__tags', ...classes].join(' '), 'price-tag-3', __('work.tags'))

mixin item-text(tag, item, alias, ...classes)
    - const text = item.getStructuredText(alias)
    if text
        - const className = classes.join(' ')
        - const html = `<${tag} class="${className}">${text.asText()}</${tag}>`;
        != html

mixin case-collection(item)
    - const caseItem = item.item;
    - const subItems = item.sub_items;
    .item.item--collection.grid
        .row
            .col.col--6
                //- p.superheadline.item__title= __('work.casecollection')
                +item-text('h2', caseItem, 'casecollection.title', 'item__title')
                +item-text('p', caseItem, 'casecollection.description', 'collection-description')
                +item-tags(caseItem.tags, 'collection-tags')

        for subItem in subItems
            .item__subitem
                .row
                    .col.col--5.col--push-1
                        h3.subitem__description= subItem.text
                .row
                    .col.col--10.col--push-2
                        +list-items(subItem.items, 'subcollection')(class='row')



mixin case-item(item, colClass='col--4')
    - const image = item.getImage('case.image')
    - const detailsImage = (image.getView('details') || image).url.replace(/\?.*$/, '')
    - const dateFmt = Intl.DateTimeFormat(lang,{ year: 'numeric', month: '2-digit', day: '2-digit' })

    .item.item--case(style=`background-image: url(${image.url})`, class=colClass).col
        .item__text(data-details-view=`${item.uid}`)
            .item__section
                - const date = dateFmt.format(item.getDate('case.release_date'))
                +item-meta(date, 'item__release-date', 'calendar')

                +item-text('h4', item, 'case.title', 'item__title')
                +item-text('h5', item, 'case.subtitle', 'item__title', 'item__title--subtitle')


            .item__section.item__details
                a.button.button--reveal.details-view__button(data-show-details=`${item.uid}`, data-background-image=detailsImage, data-close-button=__('button.close'))
                    i.ri-fullscreen-line
                    span= __('button.open')

            .item__section
                +item-tags(item.tags)
                +item-meta(item.getText('case.client_name'), 'item__client-name', 'user-2', __('work.client'))
                if item.getLink('case.link')
                    - const linkUrl = item.getLink('case.link').url(ctx.linkResolver);
                    +item-meta(linkUrl, 'details-view__details', 'external-link', __('work.link'), true)
                +item-meta(detailsImage, 'details-view__details', 'image', __('work.fullimage'), true)

            .item__section.details-view__details
                if (item.getStructuredText('case.description'))
                    p.item__description= item.getStructuredText('case.description').asText()
                if (item.get('case.embed_media'))
                    p.item__embed
                        != item.get('case.embed_media').asHtml()


mixin list-items(items, listType)
    - let i = 0
    div.item-list(class=`item-list--${listType}`)&attributes(attributes)
        for item in items
            - i++
            case item.type
                when 'casecollection'
                    +case-collection(item)
                when 'case'
                    - let colClass = 'col--4'
                    if ((i === 1 && items.length > 0 && items.length % 3 !== 0) || (i === items.length && items.length % 3 === 1))
                        - colClass = 'col--8'
                        
                    +case-item(item, colClass)
block content
    .page-header
        h1.page-heading= page.heading
        .grid
            .row
                .col.col--10.col--push-2.page-intro
                    != page.intro

    .page-body
        +list-items(page.items, 'root')


