-
    const getAddressIcon = (address) => {
        const icon = address.getText('icon');
        if (icon === 'custom') {
            return address.getText('custom_icon')
        } else if (icon === 'address') {
            return 'building-4';
        }
        return icon;
    }
mixin list-addresses(addresses)
    .address-list
        each address in addresses
            .address__line
                .address__icon
                    i(class=`ri-${getAddressIcon(address)}-line`)
                .address__text
                    != address.getStructuredText('content').asHtml()

mixin render-form-fields(fields)
    .form
        each field in fields
            - const fieldId = field.getText('label').toLowerCase().replace(/[^a-z]/, '')
            .form__field
                input(id=fieldId, type=field.getText('type'), required)
                label(for=fieldId, data-short-label=field.getText('label'))= field.getText('placeholder')

mixin render-form(formItem)
    .row
        +col(5, 3, 9, 2)
            h3= formItem.getText('form.form_title')
    .row
        +col(5, 3, 9, 2)
            if formItem.getGroup('form.addresses')
                +list-addresses(formItem.getGroup('form.addresses').toArray())
        //- +col(4, 0, 9, 2)
        //-     if formItem.getGroup('form.form_fields')
        //-         +render-form-fields(formItem.getGroup('form.form_fields').toArray())


.grid
    each item in page.items
        +render-form(item)

+script('/js/form.js')